@charset "utf-8";
@import url('../webfonts/fonts.css');

/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-semi-white: #dedede;
  --color-green: #40a150;
  --color-dark-green: #59795d;
  --color-black: #000000;
  --color-semi-black: #4a4a4a;
  --color-black-background: #242424;
  --color-black-background-footer: #1b1b1b;
  --color-black-opacity: rgba(0, 0, 0, 0.3);
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-grey: #7a7a7a;
  --color-dark-grey: #231f20;

  /* Font weight */
  --noto-thin: 100;
  --noto-light: 300;
  --noto-regular: 400;
  --noto-medium: 500;
  --noto-bold: 700;
  --noto-black: 900;
  --nanum-regular: 400;
  --nanum-bold: 700;
  --nanum-extrabold: 800;
  
  /* Font style */
  --family-font-Nanum: 'Nanum Gothic', sans-serif;
}

html,
body {
  margin: 0 auto;
  color: var(--color-black);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
}

::selection {
  background-color: var(--color-dark-green);
}

::-moz-selection{
  background-color: var(--color-dark-green);
}

h1 {
  font-size: 3.6rem;
  font-weight: var(--noto-black);
}

h2 {
  font-size: 3rem;
  font-weight: var(--noto-bold);
}

h3 {
  font-size: 2.4rem;
  font-weight: var(--noto-bold);
}

h4 {
  font-size: 1.8rem;
  font-weight: var(--noto-bold);
}

h5 {
  font-size: 2rem;
  font-weight: var(--noto-medium);
}

h6 {
  font-size: 1.6rem;
  font-weight: var(--noto-medium);
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: var(--color-white);
  color: var(--color-white);
  outline: none;
}

section{
  width: 100%;
  background: var(--color-white);
  height: 100vh;
}

.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
}

/* Header */

#gnb {
  width: 100%;
  height: 80px;
  font-size: 1.5rem;
  font-weight: var(--noto-bold);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-semi-white);
  transition: all 0.3s;
  position: relative;
  z-index: 999;
}

#gnb.sticky {
  position: fixed;
  height: 60px;
}

#gnb.sticky .main-menu > li > a {
  padding: 21px 0;
}

#gnb.sticky .sub-menu {
  top: 38px;
}

#gnb .main-menu {
  width: 1040px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gnb .main-menu .logo {
  padding: 0;
}

#gnb .main-menu li a {
  height: 100%;
  padding: 32px 0;
}

#gnb .main-menu-item {
  position: relative;
}

#gnb .main-menu-item::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

#gnb .main-menu-item.active > a,
#gnb .main-menu-item:hover > a {
  color: var(--color-green);
}

#gnb .main-menu-item:hover::before {
  width: 100%;
  bottom: -10px;
  background-color: var(--color-green);
}

#gnb .sub-menu {
  position: absolute;
  width: 300px;
  top: 48px;
  left: -20px;
  font-size: 1.3rem;
  font-weight: var(--noto-bold);
  background-color: var(--color-white);
  box-shadow: 0 1px 3px var(--color-semi-white);
  transition: all 0.6s;
  z-index: 999;
  display: none;
}

#gnb .sub-menu.active {
  display: block;
}

#gnb .sub-menu li a {
  display: block;
  width: 260px;
  height: 100%;
  padding: 16px 20px;
  color: var(--color-semi-black);
  transition: all 0.3s;
}

#gnb .sub-menu li a:hover { 
  background-color: #f1f1f1;
}

/* Footer */

footer {
  width: 100%;
  position: relative;
  z-index: 99;
}

footer * {
  color: var(--color-semi-white);
  line-height: 1.6;
}

footer p {
  font-size: 1.3rem;
  font-weight: var(--noto-light);
  margin-bottom: 5px;
}

footer .wrap {
  width: 1040px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-top {
  width: 100%;
  padding: 30px 0;
  background-color: var(--color-black-background);
}

footer  .footer-top .footer-logo {
  display: inline-block;
  width: 246px;
  height: 50px;
  background-image: url('../images/logo-foot.png');
}

footer  .footer-top .fnb {
  width: 246px;
  margin-top: 5px;
}

footer  .footer-top .fnb > a {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: var(--noto-regular);
  width: 33.3%;
  padding-right: 35px;
  position: relative;
}

footer  .footer-top .fnb > a:nth-child(3n) {
  padding-right: 0;
}

footer  .footer-top h4 {
  line-height: 1;
  font-weight: var();
}

footer  .footer-top button {
  color: var(--color-white);
  width: 160px;
  height: 32px;
  border: 1px solid var(--color-white);
  margin-top: 24px;
  transition: all 0.3s;
}

footer  .footer-top button:hover {
  background-color: var(--color-white-opacity);
}

footer .footer-bottom {
  width: 100%;
  padding: 14px 0;
  background-color: var(--color-black-background-footer);
  border-top: 1px solid var(--color-semi-black);
}

footer .footer-bottom span {
  font-size: 1.2rem;
}

footer .footer-bottom a {
  font-size: 1.2rem;
  transition: all 0.3s;
}

footer .footer-bottom a:hover {
  color: var(--color-grey);
}

footer .footer-bottom .divider {
  height: 12px;
  width: 1px;
  background-color: var(--color-white);
  display: inline-block;
  margin: 0 12px;
}

/* Page Header */

.page-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-white);
  text-align: center;
}

.page-header .page-header-wrap {
  width: 70%;
  background: url('../images/img\ \(18\).jpg') center/cover no-repeat;
}

.page-header .page-header-overlay {
  padding: 80px 0;
  background-color: var(--color-black-opacity);
  text-shadow: 2px 2px 2px var(--color-black-opacity);
}

.page-header .page-header-overlay h1 {
  margin-bottom: 20px;
}

/* Page LNB */

#lnb {
  width: 15%;
  min-width: 280px;
  height: auto;
  position: fixed;
  top: calc(80px + 18%);
  left: 4%;
  background-color: var(--color-white);
  z-index: 1;
}

#lnb h4 {
  text-align: center;
  letter-spacing: 3px;
  margin: 18px auto;
}

#lnb .lnb-menu {
  padding: 20px;
  border-top: 2px solid var(--color-semi-white);
  border-bottom: 2px solid var(--color-semi-white);
}

#lnb .lnb-menu .lnb-menu-item {
  position: relative;
  color: var(--color-dark-grey);
  font-size: 1.4rem;
  font-weight: var(--noto-bold);
}

#lnb .lnb-menu .lnb-menu-item a {
  display: block;
  padding: 16px;
  font-weight: var(--weight-semi-bold);
  transition: all 0.3s;
}

#lnb .lnb-menu .lnb-menu-item.active a,
#lnb .lnb-menu .lnb-menu-item a:hover {
  color: #40a150;
}

#lnb .lnb-menu .lnb-menu-item.active a::after,
#lnb .lnb-menu .lnb-menu-item a:hover::after {
  content: '';
  position: absolute;
  background-color: #40a150;
  height: 2px;
  width: 10px;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}