@charset "utf-8";
@import url('../webfonts/fonts.css');

/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-semi-white: #dedede;
  --color-green: #40a150;
  --color-dark-green: #59795d;
  --color-black: #000000;
  --color-semi-black: #4a4a4a;
  --color-black-background: #242424;
  --color-black-background-footer: #1b1b1b;
  --color-black-opacity: rgba(0, 0, 0, 0.3);
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-grey: #7a7a7a;
  --color-dark-grey: #231f20;

  /* Font weight */
  --noto-thin: 100;
  --noto-light: 300;
  --noto-regular: 400;
  --noto-medium: 500;
  --noto-bold: 700;
  --noto-black: 900;
  --nanum-regular: 400;
  --nanum-bold: 700;
  --nanum-extrabold: 800;

  /* Font style */
  --family-font-Nanum: 'Nanum Gothic', sans-serif;
}

#introduceContainer {
  width: 100%;
  height: auto;
  padding-bottom: 10rem;
  overflow: hidden;
}

#introduceContainer article {
  width: 100%;
  height: auto;
}

#introduceContainer .introduce__inner {
  width: 100%;
  height: auto;
  display: flex;
  float: right;
  padding: 10rem 0 10rem 0;
}

#introduceContainer .introduce__desc-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#introduceContainer .introduce__contents {
  width: 50rem;
}

#introduceContainer .introduce__contents-title {
  width: 100%;
  font-size: 3rem;
  line-height: 4.8rem;
  font-weight: var(--noto-bold);
  color: #231f20;
  margin-bottom: 3rem;
}

#introduceContainer .introduce__contents-desc {
  width: 100%;
  font-size: 1.5rem;
  line-height: 3rem;
}

#introduceContainer .introduce-img {
  width: 50%;
  height: 38rem;
}

#introduceContainer article:nth-of-type(1) .introduce__inner .introduce-img {
  background: url('../images/img (19).jpg') center/cover no-repeat;
}

#introduceContainer article:nth-child(2) .introduce__inner .introduce-img {
  background: url('../images/img (20).jpg') center/cover no-repeat;
}

#introduceContainer article:nth-of-type(3) .introduce__inner .introduce-img {
  background: url('../images/img (21).jpg') center/cover no-repeat;
}

#introduceContainer .introduce__certificate-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#introduceContainer .introduce__certificate-wrap img {
  width: 17rem;
  height: 24rem;
  margin: 0 1.2rem;
}

/* Media */
@media screen and (max-width: 1080px) {
}
