@charset "utf-8";
@import url('../webfonts/fonts.css');

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-semi-white: #dedede;
  --color-green: #40a150;
  --color-dark-green: #59795d;
  --color-black: #000000;
  --color-semi-black: #4a4a4a;
  --color-black-background: #242424;
  --color-black-background-footer: #1b1b1b;
  --color-black-opacity: rgba(0, 0, 0, 0.3);
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-grey: #7a7a7a;
  --color-dark-grey: #231f20;

  /* Font weight */
  --noto-thin: 100;
  --noto-light: 300;
  --noto-regular: 400;
  --noto-medium: 500;
  --noto-bold: 700;
  --noto-black: 900;
  --nanum-regular: 400;
  --nanum-bold: 700;
  --nanum-extrabold: 800;

  /* Font style */
  --family-font-Nanum: 'Nanum Gothic', sans-serif;

  /* Font shadow */
  --font-shadow-white: 2px 2px 2px rgb(0 0 0 / 30%);
}

#bannerContainer {
  width: 100%;
  height: 23rem;
}

#bannerContainer .banner-img {
  height: 100%;
  background: url('../images/img (16).jpg') center/cover no-repeat;
  background-attachment: fixed;
}

#bannerContainer .banner-overlay {
  background-color: var(--color-black-opacity);
  height: 100%;
}

#bannerContainer .banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

#bannerContainer .banner-title {
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
  font-weight: var(--noto-bold);
  text-shadow: var(--font-shadow-white);
}

#bannerContainer .banner-desc {
  font-size: 1.8rem;
  font-weight: var(--noto-regular);
}

#bannerContainer .banner-desc p {
  margin-top: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.notice__contents {
  width: 100%;
  height: 80rem;
  margin: 0 auto;
}

.notice__contents-wrap {
  width: 114rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice__title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 3.3rem;
  color: var(--color-green);
}

.notice__title-bar {
  height: 100%;
  background-color: var(--color-green);
  width: 0.3rem;
  margin-right: 1.2rem;
}

.notice__contents-wrap div:nth-of-type(2) {
  width: 100%;
}

.notice__button-set {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  margin: 1.2rem auto;
}

.notice__button {
  margin: 0 0.4rem;
  color: #6a6a6a;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}

.notice__button-select {
  width: 5.8rem;
}

.notice__button-text {
  width: 13rem;
}

.notice__button-text:focus,
.notice__button-select:focus {
  outline: none;
  box-shadow: 0 0 0.2rem var(--color-green);
}

.notice__button-search {
  width: 4.8rem;
  background-color: #f0f0f0;
  border-radius: 0.4rem;
  font-weight: var(--noto-bold);
}

.notice__button-search:hover {
  background-color: #f7f7f7;
}

/* Table */
table,
th,
tr,
td {
  border-right: 0;
  border-left: 0;
  vertical-align: middle;
  font-size: 1.3rem;
  color: #6a6a6a;
}

th {
  border-top: 2px solid #dbdbdb;
}

tr {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}

td a {
  color: #6a6a6a;
}

.notice__table tr td:nth-of-type(2) {
  text-align: left;
}

.notice__table {
  width: 100%;
  height: 31rem;
}

.notice__contents-wrap div:nth-of-type(3) {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.notice__pagination {
  width: 24rem;
  height: 2rem;
  margin-top: 4.8rem;
  display: flex;
  justify-content: space-between;
}

.notice__pagination a {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border: 1px solid #f5f5f5;
  color: #6a6a6a;
}

.notice__pagination a:nth-of-type(3) {
  border: 0;
}
